<div id="main">
    <div class="inner">
        <h1>A propos de nous</h1>

        <div class="image main">
            <img src="../../assets/banner-image-1-1920x500.jpg" class="img-fluid" alt="" />
        </div>

        <p>
            GrandTour la meilleure agence de voyages en Tunisie, offrant des voyages organisés Istanbul, maroc.
            Des séjours d'hôtels, des Billets d'avion et Omra.
            C'est la Première agence de voyage en ligne en Tunisie qui offre des promotions permanentes sur les voyages
            et les séjours en Hôtel en Tunisie et dans le monde.
            Des promotions permanentes sur les voyages et les loisirs
            Pour découvrir la Tunisie du nord au sud, mais aussi pour s’évader vers les 4 coins du monde !
            C'est un espace totalement sécurisé et personnalisé leur est dédié.
            GrandTour est complètement basée sur internet, qui vise à satisfaire pleinement, les besoins en voyage des
            Tunisiens. Le service, accessible depuis l’adresse internet « www.Grandtour.com »
        </p>
    </div>
    <h1>notre equipe</h1>
    <div class="container">
        <div class="row">
            <div class="flip-card1" tabIndex="0">
                <div class="flip-card1-inner">
                    <div class="flip-card1-front">
                        <h3></h3>
                    </div>
                    <div class="flip-card1-back">
                        <h3>seif eddine ben mohamed</h3>
                    </div>
                </div>
            </div>

            <div class="flip-card3" tabIndex="0">
                <div class="flip-card3-inner">
                    <div class="flip-card3-front">
                        <h3></h3>
                    </div>
                    <div class="flip-card3-back">
                        <h3>siwar aouinti</h3>
                    </div>
                </div>
            </div>
            <div class="flip-card4" tabIndex="0">
                <div class="flip-card4-inner">
                    <div class="flip-card4-front">
                        <h3></h3>
                    </div>
                    <div class="flip-card4-back">
                        <h3>fedy oueslety</h3>
                    </div>
                </div>
            </div>
            
        </div>
    </div>


</div>
<app-footer></app-footer>